@model Contact

<label asp-for="FirstName">Име:</label>
<input asp-for="FirstName">
<br>
<label asp-for="LastName">Фамилия:</label>
<input asp-for="LastName">
<br>
<label asp-for="Email">Електронна поща:</label>
<input asp-for="Email">
<br>
<label asp-for="BirthDate">Рождена дата:</label>
<input asp-for="BirthDate">
<br>
<input type="submit" name="submit" value="Запиши">
